@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Be Vietnam Pro", sans-serif;
}

.main-container {
	padding: 1rem;

	display: grid;

	grid-template-columns: auto auto;
}

h1 {
	grid-column: 2 span;
}

.classroom {
	font-size: 1.5rem;
}

p {
	font-size: 0.8rem;
	padding-left: 1rem;
	color: gray;
}

.loading {
	display: flex;

	height: 100vh;

	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading-icon {
	width: 4rem;
	height: 4rem;
	background-color: black;
	animation: loading 1s linear infinite;
}

.filters-container {
	box-sizing: border-box;
	padding: 1rem;
	background-color: #ab47bc;
	color: white;
}

@keyframes loading {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	.classroom {
		grid-column: 2 span;
	}
}
